#header-principal{
	/*display: flex;*/
	min-height:200px;
	/*margin: 10px;*/
	background-color: #e3f2fd;
}
header p{
	font-family: sans-serif;
	font-style: italic;
	font-size: 12px;

}
#cuerpo{
	background-color: #e3f2fd;
}





