<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Beneficios y Becas</title>
</head>
<body>
	<header>
		<h1>TP04 Programación Visual</h1>
		<img alt="Logo de La Facultad" src="../static/images/unju.png" title="UNJu">
	</header>
	<nav>
		<ul>
			<li><a href="index.html"> Inicio </a></li>
			<li><a href="agenda.html"> Agenda </a></li>
			<li><a href="beneficios.html"> Beneficio y becas </a></li>
			<li><a href="contacto.html"> Contáctanos</a></li>
		</ul>
	</nav>
	<section><p>Página en construcción</p></section>
	<footer>
		<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República
Argentina</p>
	</footer>
</body>
</html>