<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Contactanos</title>
</head>
<body>
	<header>
		<h1>TP04 Programación Visual</h1>
		<img alt="Logo de La Facultad" src="../static/images/unju.png" title="UNJu">
		
	</header>
	
	<nav>
		<ul>
			<li><a href="index.html"> Inicio </a></li>
			<li><a href="agenda.html"> Agenda </a></li>
			<li><a href="beneficios.html"> Beneficio y becas </a></li>
			<li><a href="contacto.html"> Contáctanos</a></li>
		</ul>
	</nav>
	<section>
	<form action="https://www.fi.unju.edu.ar/" method="get">
	<label for="idnombre">Nombre y Apellido</label>
	<input id="idnombre" type="text"/>
	<br/><br/>
	<label for="idnombre">Provincia</label>
	<select name=prov>
	<option value="BsAs">Buenos Aires</option>
	<option value="CABA">Ciudad Autonoma de Buenos Aires</option>
	<option value="Cat">Catamarca</option>
	<option value="Cha">Chaco</option>
	<option value="Chut">Chubut</option>
	<option value="Cdb">Córdoba</option>
	<option value="Ctes">Corrientes</option>
	<option value="EntRi">Entre Rios</option>
	<option value="Fma">Formosa</option>
	<option value="Juj">Jujuy</option>
	<option value="Pam">La Pampa</option>
	<option value="Rja">La Rioja</option>
	<option value="Mda">Mendoza</option>
	<option value="Mnes">Misiones</option>
	<option value="Neu">Neuquén</option>
	<option value="Ngr">Río Negro</option>
	<option value="Sta">Salta</option>
	<option value="Juan">San Juan</option>
	<option value="Luis">San Luis</option>
	<option value="Cruz">Santa Cruz</option>
	<option value="Fe">Santa Fe</option>
	<option value="Ester">Santiago del Estero</option>
	<option value="Fue">Tierra del Fuego</option>
	<option value="Tuc">Tucumán</option>
	</select>
	<br/><br/>
	<label for="idtel">Teléfono</label>
	<input id="idtel" type="tel"/>
	<br/><br/>
	<label for="idemail">Correo Electrónico</label>
	<input id="idemail" type="email"/>
	<br/><br/>
	<label>Estado Civil</label>
	<br/>
	<label for="idcasado">Casado</label>
	<input id="idcasado" type="radio" value="casado" name="EdoCivil"/>
	<br/>
	<label for="idsoltero">Soltero</label>
	<input id="idsoltero" type="radio" value="soltero" name="EdoCivil"/>
	<br/>
	<label for="idsoltero">Otro</label>
	<input id="idotro" type="radio" value="otro" name="EdoCivil"/>
	<br/><br/>
	<label for="idmesage">Mensaje: </label>
	<input id ="idmesage" type="text"/>
	<br/><br/>
	<input type="submit" value="Submit">
	</form>
	</section>
	<footer>
		<p>2022. Portal de Capacitación – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República
Argentina</p>
	</footer>
</body>
</html>