<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang=es>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">	
<title>Contactanos</title>
</head>
<body>
	<header th:replace="/layouts/header::header">
		
	</header>
	
	<div class="container-fluid" id="cuerpo">
	<div class="p-5 d-flex justify-content-center">
					<form action="index" method="get">
			<label >Nombre y Apellido</label>
			<input type="text">	
			<label for="idnombre">Provincia</label>
			<select name=prov>
			<option value="BsAs">Buenos Aires</option>
			<option value="CABA">Ciudad Autonoma de Buenos Aires</option>
			<option value="Cat">Catamarca</option>
			<option value="Cha">Chaco</option>
			<option value="Chut">Chubut</option>
			<option value="Cdb">Córdoba</option>
			<option value="Ctes">Corrientes</option>
			<option value="EntRi">Entre Rios</option>
			<option value="Fma">Formosa</option>
			<option value="Juj">Jujuy</option>
			<option value="Pam">La Pampa</option>
			<option value="Rja">La Rioja</option>
			<option value="Mda">Mendoza</option>
			<option value="Mnes">Misiones</option>
			<option value="Neu">Neuquén</option>
			<option value="Ngr">Río Negro</option>
			<option value="Sta">Salta</option>
			<option value="Juan">San Juan</option>
			<option value="Luis">San Luis</option>
			<option value="Cruz">Santa Cruz</option>
			<option value="Fe">Santa Fe</option>
			<option value="Ester">Santiago del Estero</option>
			<option value="Fue">Tierra del Fuego</option>
			<option value="Tuc">Tucumán</option>
			</select>
			<input type="submit" value="Enviar">
		</form>
				
	</div>
		</div>


	
	<footer th:replace="/layouts/footer :: footer"></footer>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>