<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang=es>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>	
<title>Idiomas</title>
</head>
<body>
	<header th:replace="/layouts/header::header">
		
	</header>
	
	<section>
		<h2></h2>
		<p></p>
		<table>
			<tr>
				<th>Titulo del Curso ${}</th>
				<th>Fecha inicio</th>
				<th>Horario</th>
				<th>Fecha fin</th>
				<th>Modalidad</th>
				<th>Docente</th>
				<th>Duracion en semanas</th>
			</tr>
			<tr>
				<td>Inglés</td>
				<td>05/03/2022</td>
				<td>15:00 a 16:00</td>
				<td>05/07/2022</td>
				<td>Virtual</td>
				<td>Mamani Juan</td>
				<td>16 semanas</td>
			</tr>
		</table>
	</section>
	<footer th:replace="/layouts/footer :: footer">
	
	</footer>
</body>
</html>