<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Idiomas</title>
</head>
<body>
<header>
		<h1>TP04 Programación Visual</h1>
		<img alt="Logo de La Facultad" src="../static/images/unju.png" title="UNJu">
	</header>
	<nav>
		<ul>
			<li><a href="index.html"> Inicio </a></li>
			<li><a href="agenda.html"> Agenda </a></li>
			<li><a href="beneficios.html"> Beneficio y becas </a></li>
			<li><a href="contacto.html"> Contáctanos</a></li>
		</ul>
	</nav>
	
	<section>
		<h2></h2>
		<p></p>
		<table>
			<tr>
				<th>Titulo del Curso</th>
				<th>Fecha inicio</th>
				<th>Horario</th>
				<th>Fecha fin</th>
				<th>Modalidad</th>
				<th>Docente</th>
				<th>Duracion en semanas</th>
			</tr>
			<tr>
				<td>Inglés</td>
				<td>05/03/2022</td>
				<td>15:00 a 16:00</td>
				<td>05/07/2022</td>
				<td>Virtual</td>
				<td>Mamani Juan</td>
				<td>16 semanas</td>
			</tr>
		</table>
	</section>
</body>
</html>