<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang=es>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
<title>Página de Inicio</title>
</head>
<body>

	<header th:replace="/layouts/header::header">
<!-- 		<h1>TP04 Programación Visual</h1> -->
<!-- 		<img alt="Logo de La Facultad" src="../static/images/unju.png" title="UNJu"> -->
		
	</header>
	
	<nav>
		<ul>
			<li><a href="index.html"> Inicio </a></li>
			<li><a href="/agenda.html"> Agenda </a></li>
			<li><a href="beneficios.html"> Beneficio y becas </a></li>
			<li><a href="contacto.html"> Contáctanos</a></li>
		</ul>
	</nav>

	<section>
		<h2> Cursos con inscripción abiertas</h2>
		<ol>
			<li><a href="idiomas.html">Idiomas</a></li>
			<li><a>Diseño</a></li>
			<li><a>Desarollo</a></li>
			<li><a>Marketing</a></li>
			<li><a>Conferencias</a></li>
		</ol>
	</section>
	
	<footer th:replace="/layouts/footer::footer">
	
	</footer>
</body>
</html>