<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Alta Docente</title>
</head>
<body>
	<header>
	<h1>Alta Docente</h1>
	</header>
	<section>
		<form action="/insertardocente" method="get">
			<label for="idlegajo">Legajo</label>
			<input id="idlegajo" type="text"/>
			<br/><br/>
			<label for="idnombre">Nombres</label>
			<input id="idnombre" type="text"/>
			<br/><br/>
			<label for="idapellidos">Apellidos</label>
			<input id="idtel" type="tel"/>
			<br/><br/>
			<label for="idemail">E-Mail</label>
			<input id="idemail" type="email"/>
			<br/><br/>
			<label for="idtel">Telefono:</label>
			<input id ="idtel" type="tel"/>
			<br/><br/>
			<p>
				<input type="submit" value="Enviar">
				<a href="/index.html">Cancelar</a>
  			</p>
		</form>
	
	</section>
</body>
</html>